$sideBarWidth: 80px;
$sideBarColor: #2F3441;

.slide {
  visibility: visible;
  flex: 1;
  z-index: 999;
  background-color: $sideBarColor;
  width: $sideBarWidth;
  height: 100%;
  .logoContainer {
    width: $sideBarWidth;
    background-color: $sideBarColor;

    .c1 {
      img {
        height: 44px;
        width: 44px;
      }
    }

    .c2 {
      color: #F18C00;
      font-weight: bold;
      font-family: Roboto, serif;
      font-size: 16px;
      cursor: default;
    }
  }
}

.bottomButtons{
 margin-top: 180px;
}

.eachIcon {
  display: inline;
  //max-width: 20px;
}

.iconJigsaw,.iconStar,.iconFavorite {
  color: #6A84FF;
}

.MuiListItemIcon-root {
  max-width: 20px;
}

.MuiAvatar-img{
  height: 24px;
  width: 24px;
}
